@font-face {
  font-family: 'Duru Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Duru Sans'), local('DuruSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/durusans/v4/0rnIdjSQWlqFS5KpKzVfzj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
 text-align:center;
 min-width:500px;
 font-family: Duru Sans;
 background-color:#80FF80;
 padding:0px;
 margin:0px;
}

input, textarea {
 border:2px solid #B3FFB3;
 border-radius:10px;
 padding:10px;
}

input[type=submit]{
 cursor:pointer;
 height:70px;
 font-size:36px;
 border-radius:10px;
 margin: 0 auto;
 vertical-align:top;
}


input[type=text] {
 height:70px;
 font-size:42px;
 vertical-align:top;
}

form label {
 display:block;
 vertical-align:top;
 font-weight:bold;
}

form p {
 margin-top:0px;
}


a {
 color:#008000;
 text-decoration:none;
 opacity:0.8;
}

a:hover {
 opacity:1;
 cursor:pointer;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
	display:block;
}

form {
 text-align:center;
}

.unselectable{
 cursor:default;
 user-select: none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}


#userContainer {
 position:relative;
 width:100%;
 padding: 20px 0px 20px 0px;
 text-align:right;
}

#userContainer a {
 margin-right:40px;
}

.loginImage {
 width:40px;
 height: auto;
}

#header {
 cursor:default;
 text-align:center;
 color:#003300;
 font-size: 56px;
 font-weight:bold;
 margin-top:120px;
}

#footer {
 bottom:10px;
 width:100%;
 text-align:center;
 font-size:14px;
}

#search {
 height:70px;
 width: 350px;
 margin-bottom:178px;
 font-size:42px;
 border-radius:5px;
 border-top-left-radius:10px;
}

/*                                  User Template             */
.user-menu {
 margin:0px;
 margin-right:10px;
}

.user-menu li {
 display:inline-block;
}

.fallback ul {
 background-color:white;
}

/*                                  Node Template             */
#node {
 position:relative;
 width:80%;
 padding:20px;
 margin:0 auto;
 border-radius:150px;
 
 background-color:white;
}

#nodeContent {
 text-align:left;
 width:80%;
 height:80%;
 max-height:400px;
 margin: 0 auto;
}

#nodeSideTools {
 position:absolute;
 right:0px;
 width:75px;
 top:135px;
}

.cancelButton {
 display:none;
}

.button {
 width: 100%;
 cursor: pointer;
 opacity:0.8;
}

.button:hover {
 opacity:1;
}

#pathbuttons {
text-align:center;
}

.pathselect {
width:330px;
display:inline-block;
border-radius:30px;
font-size:26px;
background-color:#779ECB;
padding:50px 20px;
margin:10px;
color:white;
}

#subheader {
 margin-top:8px;
 margin-bottom:32px;
 text-align:center;
 padding-bottom:10px;
 font-size:30px;
 letter-spacing:8px;
 font-weight:bold;
}

.smallSubHeader {
 margin-top:8px;
 margin-bottom:15px;
 text-align:center;
 font-size:24px;
 letter-spacing:6px;
 font-weight:bold;
}

.Abouttext {
 font-size:20px;
 font-family:Duru Sans;
 margin-top:12px;
 margin-bottom:15px;
 margin-left:28px;
 margin-right:28px;
 text-align:center;
}

.ribbonMessage {
 position:fixed;
 top:45%;
 padding-top:25px;
 padding-bottom:25px;
 width:100%;
 text-align:center;
 border-top:2px solid black;
 border-bottom:2px solid black;
 font-size:24px;
 color:black;
 z-index:1000;
}

/* jQuery UI Style */
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a
{ background: #ffffff none no-repeat; 
padding:0;
margin:0;
display:block;
border:0;border-collapse:collapse;
}

.ui-menu-item {
 background-color:#9FFF80;
}

.listInputContainer, .inputBlock {
 margin-bottom:20px;
 width:100%;
}

.addListInputButton {
 display:inline-block;
 position:absolute;
 background-color:white;
 color:green;
 padding:5px 10px 5px 10px;
 border-radius:5px;
 font-size:16px;
 font-weight:bold;
 cursor:pointer;
}

.kwicks {
 position:relative;
 height: 60px;
 margin:0px;
 padding:0px;
 margin-bottom:10px;
 }
 .kwicks > a {
 position:relative;
 display:inline-block;
 white-space:nowrap;
 color:white;
 padding-top:20px;
 padding-bottom:20px;
 text-align:center;
 /* overridden by kwicks but good for when JavaScript is disabled */
 width:20%;
 margin:0px;
 float: center;
 border-right:1px solid #134D00;
 background-color:#004D00;
 } 

.kwicks > a:last-child { border-right:0px; } 

.mynode {
 margin: 0 auto;
 padding: 10px;
 margin-top: 5px;
 margin-bottom: 10px; 
 height: 225px;
 width: 80%;
 background-color: white;
 border-radius: 40px;
}

.mynode-content {
 margin-right: 10px;
}

.mynode-info {
float: left;
margin-right: 20%;
}

.mycareer{
 margin: 0 auto;
 padding: 10px;
 margin-top: 5px;
 margin-bottom: 10px; 
 height: 225px;
 width: 80%;
 background-color: white;
 border-radius: 40px;
}

.mycareer-content{
 margin-right: 10px;
}

/*       Correctness Indicators          */
.errorlist {
 padding:10px 0px 10px 0px;
 margin-top:10px;
 margin-bottom:5px;
 width:100%;

 font-weight:bold;
 background-color:#FF8080;
 list-style:none;
}

.successToken {
 padding:10px 0px 10px 0px;
 margin-top:10px;
 margin-bottom:5px;
 width:100%;

 font-weight:bold;
 background-color:#B3FFFF;
}

.link {  
stroke: #666;
opacity: 0.6;
stroke-width: 1.5px; 
} 
.node circle { 
stroke: #fff; 
opacity: 0.6;
stroke-width: 1.5px; 
} 
text { 
font: 20px serif; 
opacity: 0.6;
pointer-events: none; 
}
