body {
background-color:green;
padding:0px;
margin:0px;
}

div#mainmenu {
background-color:white;
padding:10px;
padding-left:7%;
}

div.menuitem {
display:inline;
border: 1px solid black;
padding:3px;
margin:5px;
border-radius:10px;
font-size:20px;
}

div#maincontent {
width:80%;
padding:20px;
margin:10%;
margin-top:3%;
margin-bottom:3%;
background-color:white;
border-radius:20px;
}

div#header {
height:100px;
font-size: 40px;
font-style:italic;
font-variant: small-caps;
}

div#frontimage {
height:230px;
width:900px;
border:1px solid black;
margin:1% 10%;
background-color:lightgrey;
}

#kwicks-menu li { 
  float: left; 
  width: 125px; 
  height: 100px; 
  margin-right: 5px; 
} 
#kwicks-menu .kwick1 { background: #53b388; } 
#kwicks-menu .kwick2 { background: #5a69a9; } 
/* cancel margin on last kwick (if you set a margin above) */ 
#basic .kwicks.horizontal .kwick2 { margin-right: none; } 
/* cancel margin on last kwick (if you set a margin above) */ 
#basic .kwicks.vertical .kwick2 { margin-bottom: none; }
