{% include "header_high.html" %}
<div id="subheader" class="unselectable">About</div>
{% include "mainmenu.html" %}

<div class="abouttext">
 <p>Welcome to Learning Graph! Just tell us where you want to go with your career, and we'll help design a path to take you there. With Learning Graph, you can explore relevant topics and gain the skills you'll need to compete in your chosen industry.</p>

 <p>Not sure just where you want to go, or what interests you most? Then search for a subject you like, and we'll help you discover other topics you may enjoy. You can also add new content to help other users learn about useful topics not already available on our site.</p>

 <p> Special thanks to <a href="http://djangoproject.com">Django</a>, <a href="jquery.com">jQuery</a>, <a href="https://code.google.com/p/pagedown/wiki/PageDown">PageDown</a>, <a href="https://github.com/omab/python-social-auth">Python Social Auth</a>, <a href="http://devsmash.com/projects/kwicks">Kwicks</a>, <a href="http://d3js.org/">D3JS</a>. Special thanks to <a href="http://fig.haverford.edu/">FIG</a> for hosting and <a href="http://hackathon.haverford.edu">Haverford</a> for hosting the hackathon,  and everyone who participated, taught, organized and assisted us.</p>
</div>
