{% include "header.html" %}
<div id="subheader" class="unselectable">About</div>
{% include "mainmenu.html" %}

<div class ="Abouttext unselectable">
 <p>Welcome to Learning Graph! Just tell us where you want to go with your career, and we'll help design a path to take you there. With Learning Graph, you can explore relevant topics and gain the skills you'll need to compete in your chosen industry.</p>

 <p>Not sure just where you want to go, or what interests you most? Then search for a subject you like, and we'll help you discoverother topics you may enjoy. You can also add new careers and nodes to help other users learn about useful topics not already available on our site.</p>
</div>
