{% include "header.html" %}
<div class="subHeader unselectable">About</div>
{% include "mainmenu.html" %}

<body style="font-size:20px;font-family:Duru Sans;">
 <p style="margin:30px">Welcome to Learning Graph! Just tell us where you want to go with your career, and we'll help design a path to take you there. With Learning Graph, you can explore relevant topics and gain the skills you'll need to compete in your chosen industry.</p>

 <p style="margin:30px">Not sure just where you want to go, or what interests you most? Then search for a subject you like, and we'll help you discoverother topics you may enjoy.</p>
</body>
