{% include "header.html" %}
<div id="subheader" class="unselectable">Add Career</div>
{% include "mainmenu.html" %}

{% if fatalMessage %}
<div class="failToken"> {{ fatalMessage }} </div>
{% elif addedCareer %}
<div class="successToken">"{{ addedCareer.name }}" added!</div>
{% endif %}

<form id="careerForm" action="/career_form/" method="post">
 {% csrf_token %}
 {{ form.as_p }}
<label for="related">Skill Path:</label>
<ul class="sortable">
 <li>
  <div class="listInputContainer">
  <input class="autocomplete listInput" name="path[]" type="text">
  </div>
 </li>
</ul>
 <input type="submit" value="Submit" />
</form>
