
{% include "header_high.html" %}
<div id="subheader" class="unselectable">Careers</div>
{% include "mainmenu.html" %}
<div id="careernodes">
	{% if career %}
	<div class="smallSubHeader">{{ career.name }}</div>
	<h2> Description </h2>
	<p id="career_description"> {{ career.description }} </p>
	<h2> Starting Skill </h2>
	<a href="/node/?node={{ career.start_node }}">{{ career.start_node }} </a>
	<h2> All Skills </h2>
        <ul>
        {% for cnm in careernodemap %}
		<li><a href="/node/?node={{ cnm.node }}">{{ cnm.node }}</a></li>
	{% endfor %}
        </ul>
<script>

$(document).ready(function () {
 $("#career_description").html(markdown($("#career_description").html()));
});

function markdown(content) {
   var converter = Markdown.getSanitizingConverter();
   return converter.makeHtml(content);
}
</script>

<!--
	<h2> Beginner skills </h2>
  	<ul>
	{% for node in nodes %}
  		{% if node.difficulty == "Beginner" %}
			<li><a class=nodelink> {{ node.name }} </a></li>
		{% endif %}
	{% endfor %}
	</ul>
	<h2> Intermediate skills </h2>
  	<ul>
	{% for node in nodes %}
  		{% if node.difficulty == "Intermediate" %}
			<li><a class=nodelink> {{ node.name }} </a></li>
		{% endif %}
	{% endfor %}
	</ul>
	<h2> Advanced skills </h2>
  	<ul>
	{% for node in nodes %}
  		{% if node.difficulty == "Advanced" %}
			<li><a class=nodelink> {{ node.name }} </a></li>
		{% endif %}
	{% endfor %}
	</ul>
-->
	{% else %}
	<div class="errorlist">Career not found!</div>
	{% endif %}
</div>


