{% include "header.html" %}
<div id="subheader" class="unselectable">Add Career</div>
{% include "mainmenu.html" %}

{% if addedCareer %}
<div class="successToken">"{{ addedCareer.name }}" added!</div>
{% endif %}

<form id="careerForm" action="/career_form/" method="post">
 {% csrf_token %}
 {{ form.as_p }}
<label for="start_node">Initial Skill Node</label>
 <div class="inputBlock">
<input class="autocomplete" name="start_node" type="text">
 </div>
<label for="related">Skills:</label>
 <div class="listInputContainer">
<input class="autocomplete listInput" name="path[]" type="text">
 </div>

 <input type="submit" value="Submit" />
</form>
