<html>
<head>
<title>Learning Tree</title>
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/jquery.js"> </script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/universal.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/kwiks.css">
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/kwiks.js"> </script>
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/javascript.js"> </script>
</head>

<body>

{% include "header.html" %}
<div id="frontimage"></div>
{% include "mainmenu.html" %}
<div id="maincontent">
Welcome to the Learning Tree Project! With this website, you can tell us where you want to end up in your career and we can help design a path to take you there. Not sure exactly where you want to go and what interests you most? This website is perfect for you as well, because you can dynamically select the path that most interests you and find the position that fits your new set of skills.
<div id="subcontent1">
<h2>Philosophy</h2>
<p> As a group of computer science students at a liberal arts school, we feel that when we try to enter the workforce, the skills we have learned will not be immediately applicable in the job market. Most of us have an idea of where we want to end up, although some of us have no idea what to do with our new education. The solution, a site that helps map the real-world skills we need to learn to land the job we always dreamed of. Learning Tree helps its users build up their knowledge and provides clear direction towards landing that job.
</div>
<div id="subcontent2">
<h2>Sponsors</h2>
<p>
Our sponsors help to make this page possible and keep it up to date with all of the latest information. Sponsors have the choice to either sponsor a single node or to sponsor the website in general. We would like to thank:</p>
<ul>
	<li>Sponsor 1</li>
	<li>Sponsor 2</li>
	<li>Sponsor 3</li>
</ul>
 <p>For their continued support.</p>
</div>
</div>

{% include "footer.html" %}
</body>

</html>
