
<div class="subHeader unselectable">{{ node.name }}</div>
{% include "mainmenu.html" %}
<div id="node" pid="{{node.id}}">
	{% if node %}
	<!--<h2 id=nodename>{{ node.name }}</h2>-->
	<div id="nodecontent" style="float: left; margin-left: 30px; width: 70%">
		<p style="width: 70%"> {{ node.content }} </p>
	</div>	
		<div=noderate style="float: right; margin-right: 50px;">
			<h3> Good </h3> {{ node.good }}
			<h3> Bad </h3>	{{ node.bad }}
		 </div>
	</div>
	<div id="edges">
		<ul id="nodeedge">
			{% for edge in edges %}
			<li pid="{{edge.id}}"> {{ edge.url }} <p> {{ edge.hits }} </p> {{ edge.good }} {{ edge.bad }} </li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	Node not found!

	{% endif %}
</div>
