{% include "header_high.html" %}
<div id="subheader" class="unselectable">Skills</div>
{% include "mainmenu.html" %}
{% if node %}
 <div id="node" pid="{{ node.id }}">
  <div id="career" style="display:none">{{ career }}</div>
  <div class="smallSubHeader">{{ node.name }}</div>
  <div id="nodeContent" title="You can use markdown. Include links with [link title](http://url.com)"></div>
  <div id="rawContent" style="display:none">{{ node.content }}</div>
  <div id="nodeSideTools">
   <div class="saveButton">
    <img title="Save" class="button" src="http://png-4.findicons.com/files/icons/138/toolbar/128/save.png" />
   </div>
   <div class="cancelButton">
    <img title="Cancel" class="button" src="http://www.clker.com/cliparts/U/f/r/9/f/m/cancel-button-no-line-md.png" />
   </div>
   <div class="editButton">
    <img title="Edit" class="button" src="http://icons.iconarchive.com/icons/custom-icon-design/office/256/edit-icon.png" />
   </div>
   <div class="upvoteButton" pid="{{node.id}}" model="node">
    <img title="This was helpful!" class="button" src="{{STATIC_URL}}images/upvote.png" />
   </div>
<div id="nodeStats">
{% autoescape off %}
{{rating}}
{% endautoescape %}
</div>
   <div class="downvoteButton" pid="{{node.id}}" model="node">
    <img title="This was not helpful." class="button" src="{{STATIC_URL}}images/downvote.png" />
   </div>
  </div>
  <div class="container"></div>
<script>

$(document).ready(function () {
 loadGraph({{ node.id}});
 $("#nodeContent").html(markdown($("#rawContent").html()));
});

function markdown(content) {
   var converter = Markdown.getSanitizingConverter();
   return converter.makeHtml(content);
}
</script>

 </div>
{% else %}
 <div class="errorlist">Node not found!</div>
{% endif %}

