{% include "header.html" %}
<div id="subheader" class="unselectable">Add Skill</div>
{% include "mainmenu.html" %}

{% if addedNode %}
<div class="successToken">"{{ addedNode.name }}" added!</div>
{% endif %}

<form id="nodeForm" action="/node_form/" method="post">
 {% csrf_token %}
 {{ form.as_p }}
<label for="related">Related:</label>
<ul class="sortable"> 
<li>
  <div class="listInputContainer">
  <input class="autocomplete listInput" name="related[]" title="Related Skills" type="text">
  </div>
 </li>
</ul>

 <input type="submit" value="Submit" />
</form>
