<script rel="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script rel="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>



<script rel="javascript" type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/kwicks.js"> </script>
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/dropdown.js"> </script>


        <script type="text/javascript" src="{{ STATIC_URL }}/js/showdown/pagedown/Markdown.Converter.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/showdown/pagedown/Markdown.Sanitizer.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/showdown/pagedown/Markdown.Editor.js"></script>

<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/graph.js"></script>

<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}/js/universal.js"> </script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/kwicks.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/universal.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/dropdown.css">
