{% include "header.html" %}
<div id="subheader">My Careers</div>
{% include "mainmenu.html" %}
{% if careers %}
{% for career in careers %}
<div class="mycareer">
	<div id=mycareer-info class=mycareer-info>
		<a href ="/career/?career={{ career.name }}"style="margin-left: 20px;">
		<h2 style="margin-left: 20px;">{{ career.name }}</h2>
		</a>

                <p class="career_description"> {{career.description }}</p>
	</div>
	<div>
		<h2> Start Node: </h2>
		<a href="/node/?node={{ career.start_node|urlencode }}&career={{ career.name|urlencode }}"> {{ career.start_node }} </a>
	</div>
</div>
{% endfor %}

<script>

$(document).ready(function () {
 $(".career_description").map(
   function() {
    $(this).html(markdown($(this).html()));
   });
});

function markdown(content) {
   var converter = Markdown.getSanitizingConverter();
   return converter.makeHtml(content);
}
</script>

{% else %}

<p>You haven't created any Career paths. <a href="/career_form/">Make one?</a>

{% endif %}

