{% include "header.html" %}
{% include "mainmenu.html" %}
{% if careers %}
{% for career in careers %}
<div class="mycareer">
	<div class=mycareer-info>
		<h2 style="margin-left: 20px;">Career Name: {{ career.name }}</h2>
		<a href ="/career/?career={{ career.name }}"style="margin-left: 20px;">Visit Career</a>
	</div>
	<div>
		<h2> Career Skills: </h2>
		<ul>
		{% for node in careernodemap %}
			<li> {{ node.name}} </li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endfor %}

{% else %}

<p>You don't have any nodes. <a href="/node_form/">Make one?</a>

{% endif %}

