{% include "header.html" %}
<div style="margin-top:20;" class="subHeader unselectable">My Nodes</div>
{% include "mainmenu.html" %}

{% if nodes %}
{% for node in nodes %}
<div class="mynode">
<div class=mynode-info>
<h2 style="margin-left: 20px;">Node Name: {{ node.name }}</h2>
<a href ="/node/?node={{ node.name }}"style="margin-left: 20px;">Visit Node</a>
<h3 style="margin-left: 20px;"> Votes </h3>
<p style="margin-left: 20px;"> Good {{ node.good }} </p>
<p style="margin-left: 20px;"> Bad {{ node.bad }} </p>
</div>
<div class=mynode-content>
<p>{{ node.content }}</p>
</div>
</div>
{% endfor %}

{% else %}

<p>You don't have any nodes. <a href="/node_form/">Make one?</a>

{% endif %}
