{% include "header.html" %}
<div id="subheader" class="unselectable">My Skills</div>
{% include "mainmenu.html" %}

{% if nodes %}
{% for node in nodes %}
<div class="mynode">
<div class=mynode-info>
<h2 style="margin-left: 20px;"><a href="/node/?node={{ node.name }}">{{ node.name }}</a></h2>
<h3 style="margin-left: 20px;"> Votes </h3>
<p style="margin-left: 20px;"> Good {{ node.good }} </p>
<p style="margin-left: 20px;"> Bad {{ node.bad }} </p>
</div>
<div class=mynode-content>
<p>{{ node.content }}</p>
</div>
</div>
{% endfor %}

{% else %}

<p>You have not added any skills. <a href="/node_form/">Make one?</a>

{% endif %}
