{% load url from future %}
<div id="userContainer" class="unselectable">
 {% if user.is_authenticated %}
<nav>
  <ul class="user-menu">
  	<li class="fallback">
		<a>Manage</a>
		<ul class="dropdownMenu">
			<a href="/my_careers/"><li class="dropdownText">My Careers</li></a><br>
			<a href="/my_nodes/"><li class="dropdownText">My Skills</li></a><br>
  		</ul>
	</li>
	<li class="fallback">
		<a>Create</a>
		<ul class="dropdownMenu">
  			<a href="/node_form/"><li class="dropdownText">Add Skills</li></a><br>
  			<a href="/career_form/"><li class="dropdownText">Add Careers</li></a><br>
  			<a href="/edge_form/"><li class="dropdownText">Add Connection</li></a><br>
		</ul>
	</li>
	<li>
		<a href="/logout/">Log Out</a>
	</li>
  </ul>
</nav>
 {% else %}
  <a href="{% url 'social:begin' 'facebook' %}"><img class="loginImage" src="https://www.facebook.com/images/fb_icon_325x325.png" title="Facebook Login"></a>
  <a href="{% url 'social:begin' 'google-oauth2' %}"><img class="loginImage" src="http://2.bp.blogspot.com/-Z7i90yB0GaU/TZrFbbvO3eI/AAAAAAAAADw/50AKkB25KAQ/s1600/google2.png" title="Google Login"></a>
 {% endif %}
</div>
